- @page = 'experiences'

/ Page
.site-center.center-page  
  .cell
    %h2 我的邮件(0未读)
    .col.size2of3
      - @messages.each do |m|
        .col.message.margin-t20
          .col.sizefit
            = image_tag m.sender.avatar_url(:thumb), :size => "50x50" 
          .col.sizefill
            .margin-l10
              %p #{m.sender.name}
              %p #{m.subject}