- @selected = "blogs"
- @page = "dashboard"

/ Page
.site-center.center-page  
  .page-head{:style => "margin-bottom:30px;"}
    %ul.dashboard-tabs
      %li 
        %a{:href => "/dashboard", :class => (@selected == "feeds" ? "selected" : "")} 动态
      %li 
        %a{:href => "/dashboard/phrs", :class => (@selected == "phrs" ? "selected" : "")} 健康记录
      %li
        %a{:href => "/dashboard/stars", :class => (@selected == "stars" ? "selected" : "")} 标签夹
      %li 
        %a{:href => "/dashboard/blogs", :class => (@selected == "blogs" ? "selected" : "")} 日记

  .col.size2of3
    .margin-r30
      - if @blogs.empty?
        %p{:style => "color:#999;"} 用日记来记录自己保持健康的点点滴滴
      - @blogs.each do |b|
        .blog-row{:style => "padding: 0 0 30px 0;"}
          %h4 #{link_to b.title, blog_path(b)}
          %p{:style => "color: #999;"} 
            %span #{b.created_at.strftime("%Y-%m-%d %H:%M:%S")}
          %span
            #{truncate strip_tags(b.body), length: 140, omission: '.....'}      

  .col.size1of3  
    .col
      = link_to '+ 写日记', new_blog_url, :class => "button"
    .col.margin-t20
      %h3 最新回应...