- unless community.articles.empty?
  .panel.guide.margin-b20
    .header
      .cell
        热点文章

    - community.articles.hot.limit(10).each do |a|    
      .body
        .cell #{link_to a.title, show_community_article_path(community, a)}      
- unless community.topics.empty?
  .panel.guide.margin-b20
    .header
      .cell
        热点话题
    .body
      .cell
        xxx       
- unless community.polls.empty?
  .panel.guide.margin-b20
    .header
      .cell
        最新投票
    .body
      .cell
        xxx       