.panel.guide.margin-b20
  .header
    .cell
      本周热点讨论
  .body
    .cell
      xxx 

.panel.guide.margin-b20
  .header
    .cell
      本周热点问答
  .body
    .cell
      xxx       

.panel.guide.margin-b20
  .header
    .cell
      最新投票
  .body
    .cell
      xxx       