%h2 隐私
%hr
.col
  %p 康乐网与研究机构合作以了解和认识您的疾病，我们共同确定只有在用户同意的情况下才共享这些匿名数据给研究机构
.col
  %input{:type => "checkbox", :class =>"checkbox"}
  %label 我很乐意分享我的经验给康乐网及其研究伙伴（如学术机构，医疗保健专员和制药公司）   
.col
  %input{:type => "checkbox", :class =>"checkbox"}
  %label 我很高兴接受康乐网出于研究目的联络（如：临床试验招募，问卷调查等）
.col
  %input{:type => "checkbox", :class =>"checkbox"}
  %label 分享我的匿名健康数据与我的社区 
  

.col.margin-t20
  %button.button.background-orange 更新 