- @page = "dashboard"

/ Page
.site-center.center-page  
  = render :partial => "dashboard/top_menu", :locals => {:selected => "feeds"}

  .col.size2of3
    .margin-r30 
      %h3 我的社群动态
      %br
      = render_widget :update_list  
  .col.size1of3
    .margin-l20
      %dl.highlight.green
        %dt 我加入的社群
        %dd
          %ul.links
            - @communities.each do |c|
              %li #{link_to c.name, community_path(c)}
