- @page = 'experiences'
.site-center.center-page
  .col
    .cell
      .alphabet-filter     
        %ul.nav
          %li
            %a A
          %li
            %a B
          %li
            %a C
          %li
            %a D
          %li
            %a E
          %li
            %a F
          %li
            %a G
          %li
            %a H
          %li
            %a I
          %li
            %a J
          %li
            %a K
          %li
            %a L
          %li
            %a M
          %li
            %a N
          %li
            %a O                            
          %li
            %a P
          %li
            %a Q
          %li
            %a R
          %li
            %a S 
          %li
            %a T
          %li
            %a U
          %li
            %a V
          %li
            %a W
          %li
            %a X
          %li
            %a Y
          %li
            %a Z                     

  .col
    .health-issue-list
      .col.size1of4
        .entry.cell
          .title 
            %a.background-orange{:href => '/fat'} 肥胖
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4  
        .entry.cell
          .title 
            %a.background-purple 血压高
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4         
        .entry.cell
          .title 
            %a.background-blue 糖尿病
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4        
        .entry.cell
          .title 
            %a.background-grey 高血压
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4
        .entry.cell
          .title 
            %a.background-green 肥胖
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4  
        .entry.cell
          .title 
            %a.background-orange 血压高
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4         
        .entry.cell
          .title 
            %a.background-yellow 糖尿病
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4        
        .entry.cell
          .title 
            %a.background-grey 高血压
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4
        .entry.cell
          .title 
            %a.background-grey 肥胖
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4  
        .entry.cell
          .title 
            %a.background-orange 血压高
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4         
        .entry.cell
          .title 
            %a.background-red 糖尿病
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4        
        .entry.cell
          .title 
            %a.background-grey 高血压
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享  
      .col.size1of4         
        .entry.cell
          .title 
            %a.background-yellow 糖尿病
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享          
      .col.size1of4  
        .entry.cell
          .title 
            %a.background-orange 血压高
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享        
      .col.size1of4        
        .entry.cell
          .title 
            %a.background-grey 高血压
          .action-bar
            .num-sig
              %span.num 509
              经历
            .num-sig
              %span.num 309
              治愈分享          
  / .col.size2of3
  /   .health-issue-list.padding-r20
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看

  / .cell.tags
  /   %ul.cloud.nav
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务

  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网



  / #container{:style => "min-height:700px;width:960px;"}
  /   .item{:style => "width:70%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "heigth:80px;width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:40%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:45%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:50%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:60%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:10%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues

