.site-center.center-page
  .col.size2of3
    .issue-title
      %span 肥胖
    .margin-t20
      %a.label.background-green 经历分享
      %a.label.background-grey 治愈分享 


    .support-group-feeds.margin-t30
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-comments.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p
                %a 孩子可能是dravet，急盼病友联系
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col    
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 我的宝贝小名叫果果，2012年7月19号出生，一家都兴奋她的到来。出生第三天就发现果果有点小抽蓄，没有想太多，按照医生的指示一项一项的做检查，最后一项脑电图出来让我们全...
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-question-sign.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p 
                %a 孩子可能是dravet，急盼病友联系
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col    
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 2次发作都在幼儿园。所有得知的情景都是听老师说的。我自己总结出的情况是：小时候吐，说...
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-file-alt.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p 
                %a 宝贝快好起来
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col     
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 我的宝贝小名叫果果，2012年7月19号出生，一家都兴奋她的到来。出生第三天就发现果果有点小抽蓄，没有想太多，按照医生的指示一项一项的做检查，最后一项脑电图出来让我们全...     
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-comments.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p
                %a 孩子可能是dravet，急盼病友联系
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col    
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 我的宝贝小名叫果果，2012年7月19号出生，一家都兴奋她的到来。出生第三天就发现果果有点小抽蓄，没有想太多，按照医生的指示一项一项的做检查，最后一项脑电图出来让我们全...
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-question-sign.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p 
                %a 孩子可能是dravet，急盼病友联系
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col    
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 2次发作都在幼儿园。所有得知的情景都是听老师说的。我自己总结出的情况是：小时候吐，说...
      .support-group-feed.margin-b30.border-bottom
        .col.sizefit
          %span.icon.icon-file-alt.color-grey.no-margin{:style => "font-size: 26px;"}
        .col.sizefill
          .user-update.margin-l20
            .col  
              %p 
                %a 宝贝快好起来
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  2013-06-14 &middot; 1鼓励 &middot; 4评论
            .col     
              .col.sizefill
                %p{:style => "margin-bottom: 20px;"} 我的宝贝小名叫果果，2012年7月19号出生，一家都兴奋她的到来。出生第三天就发现果果有点小抽蓄，没有想太多，按照医生的指示一项一项的做检查，最后一项脑电图出来让我们全...      

                