/ Page
.site-center.center-page
  = image_tag(asset_path('logo-megahealth.png'))
.middle 
  .site-center.content    
    .col.size1of2
      .left
        %h1.title 欢迎，#{current_user.name}
        .textarea
          %p 有研究表明，跟踪其良好的生活习惯的人更容易使他们能跟上，并与他人分享这些信息为我们提供了一种自豪感的提升 - 即使是简单的任务
      
        %span 你关心的健康问题
        = form_tag('/post-registration', method: :get)  do
          .col
            = text_field_tag :issues, nil, :autocomplete => "off", :maxlength => "50", :size => 40, :class => "float-left", :autofocus => true, :placeholder => "用逗号分隔多个健康问题，如血压高，盗汗..."
    .col.size1of2  
      .right
        %h4{:style => "color:#999"} 常见健康问题
        .popular-issues
          %span 
            %a 胃病
          %span 
            %a 发高烧
          %span 
            %a 肥胖
          %span 
            %a 血压
          %span 
            %a 胃病
          %span 
            %a 小腿粗肿
          %span 
            %a 胃病
          %span 
            %a 血糖高
          %span 
            %a 胃病        
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 小腿粗肿
          %span 
            %a 胃病          
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病      
          %span 
            %a 胃病 
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 小腿粗肿
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病        
          %span 
            %a 胃病
          %span 
            %a 小腿粗肿
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病          
          %span 
            %a 胃病
          %span 
            %a 小腿粗肿
          %span 
            %a 胃病      
          %span 
            %a 胃病 
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病        
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病          
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病      
          %span 
            %a 胃病     
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病        
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病          
          %span 
            %a 胃病
          %span 
            %a 胃病
          %span 
            %a 胃病      
          %span 
            %a 胃病  


:javascript
  $(document).ready(function(){
    // $('input[id=content_filter_interests]').focus();

    $('span a').click(function(){
      var str = $('input[name=issues]').val();
    
      if(str.length == 0){
        var issues = [];
      } else {
        str = str.replace(/，|、/g, ', ')
        issues = str.split(', ');
      }
        
      issues.push($(this).text());

      var uniqueIssues = [];      
      $.each(issues, function(i, el){
       if($.inArray(el, uniqueIssues) === -1) uniqueIssues.push(el);
      });

      $('input[name=issues]').val(uniqueIssues.join(', ')) ;
      $('input[name=issues').focus();
    });
  });  
