/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render_widget :section_list, :display, :community => @community, :current_section => @section

  .margin-t20  
    = render_widget :section 

    
   