- case content
- when "Article"
    .button{:style => "background:#efd9e7;color:#9c1467;border:none;"} 文章
- when "Blog"
    .button{:style => "background:#dbedf9;color:#5588aa;border:none; "} 日记
- when "Video"
    .button{:style => "background:#fdefa4;color:#b37043;border:none;"} 视频
- when "Topic"
    .button{:style => "background:#deede0;color:#589c66;border:none; "} 话题
- when "Question"
    .button{:style => "background:#fae9da;color:#ca6445;border:none;"} 问答
- when "Poll"
    .button{:style => "background:#ffccff;color:#a95b75;border:none;"} 投票    

                   