- items.each do |item|
  .feed.margin-b20
    .col.sizefit.margin-r20
      = render :partial => "category", :locals => {:content => item.class.to_s}
    .col.sizefill.border-bottom.padding-b20 
      = render :partial => item.class.to_s.underscore, :locals => {:item => item}  
